<div class="container">
    <h1 class="title">Tic Tac Toe In <span>Angular</span></h1>

    <div class="board">
        <div class="row1">
            <div class="boxes"></div>
            <div class="boxes"></div>
            <div class="boxes"></div>
        </div>
        <div class="row2">
            <div class="boxes"></div>
            <div class="boxes"></div>
            <div class="boxes"></div>
        </div>
        <div class="row3">
            <div class="boxes"></div>
            <div class="boxes"></div>
            <div class="boxes"></div>
        </div>
    </div>
    <button class="resetbtn">Reset</button>
</div>